
.logos {postion:absolute;
  top:20px;
  left:150px;
width: 100px;
float: right;
padding-right: 40%;
}

}
.container {
  width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  max-width: 1320px;}

  .Table{
    border: 0;
    width: 100%;
  }
  .menu{
    background-color: grey;
    height: 30px;
    text-align: center;
    padding-top: 10px;


}

.menu>a{
  color: white;
  padding-top: 10px;
      margin: 0px 30px;

}

.nav_link{
  text-decoration:none;
  transition: text-decoration 2s linear;
}
.nav_link:hover{
  text-decoration: underline;
}
.header{
  float: right;
  padding-right: 40%;
  list-style-type: none;

}

.section_head{
  width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  max-width: 1320px;
}
.section_head1{
  width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  max-width: 1320px;
}
#section_in_head1{
  width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  max-width: 1320px;
}

article {
  background-color: grey;
  margin: 5px 10px 5px 10px;
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
  float: left;
}

 .img2 {
   margin-left: 20px;
 }
 .img3 {

   margin-left: 30px;
 }
.a{

}
 article>a {
   margin: 0 30px 10px;
   float: right;
   background-color: white;
 }

 .niz1{
   float: left;
   width: 50%;
   text-align: left;

 }
 .niz2{
   float: right;
   width: 50%;
 }
/Слайды/

.slider{
  position: relative;
  overflow: hidden;
  max-width: 600px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  background-color: #eee;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

/* класс для отключения transition */
.transition-none {
  transition: none;
}

/* кнопки Prev и Next */
.slider__control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  user-select: none;
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}


.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;

}
.slider__control_prev::before {
  background-image: url("levo.jpg");
}

.slider__control_next::before {
  background-image: url("pravo.jpg");
}
  /* Индикаторы */
.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
  user-select: none;
}

.slider__indicator {
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}

.slider__indicator_active {
  background-color: #fff;
}

/*контент*/

#sidebar {
    background: #fff;
    float: left;
    width: 20%;
    height: 280px;

}

#content {
    background: #fff;
    float: right;
    width: 80%;
    height: 280px;
}

#clear {
    clear: both;
    margin top: both;
}

#footer {
   background: #fff;
 width: 100%;
 height: 40px;
}

.ul_main{
  list-style-type: none;
  padding-left: auto;

}
.details{  list-style-type: none;}
.prise>img{
  margin-left: 100px;
    max-height: 50px;
    overflow: hidden;
    float: inherit;
}
#p_prise{
  margin: initial;
  text-align: left;
  padding-left: 100px;
  position: absolute;

}
